.clients{
    height: 100vh;
    margin-top: 15rem;

    h1{
        text-align: right;
        margin-right: 4rem;
        margin-top: 8rem;
        color: white;
        font-size: 4rem;
        font-family: $main-font;
        font-weight: normal;
        transform: translateY(-50px);

        span{
            background: $label-color;
        }
    }

    section.cards-container{
        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .card{
                background: #2b252e;
                padding: 40px;
                color: white;
                line-height: 1.5;
                margin: 10px;

                p{
                    width: 200px;
                    font-family: $primary-font;
                    color: rgb(197, 197, 197);
                }
                .user-info{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    .user-img{
                        margin-right: 20px;
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        background: url(Images/clients/alex-mccarthy-RGKdWJOUFH0-unsplash.jpg)$bg-image-cover;
                    }

                    .user-img-two{
                        background: url(Images/clients/ali-morshedlou-WMD64tMfc4k-unsplash.jpg)$bg-image-cover;
                    }
                    .user-img-three{
                        background: url(Images/clients/nasik-lababan-AY2dgFfdqVk-unsplash.jpg)$bg-image-cover;
                    }
                }
            }
        }
    }
}